.order {
  max-width: 1060px;
  text-align: center;
}
.order__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: rgba(0, 0, 0, 0.88);
  backdrop-filter: blur(10px);
}
.order__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  max-width: 640px;
  color: #000000;
  margin: 0 auto;
}
.order__cards {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}
.order__card {
  max-width: 505px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.29);
  border-radius: 30px;
  padding: 80px 42px 85px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}
.order__card:hover {
  transform: scale(1.02);
}
.card-2 {
  background: #00c14d;
}
.order__card-name {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #00C14D;
}
.order__card-name-pro {
  color: #FFFFFF;
}
.order__card-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
ul {
  padding: 25px 0 50px;
  margin: 0;
}
.order__card-func {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  padding: 15px 0;
  text-align: center;
  list-style: none;
}
.order__card-1-btn:hover {
  background: #00C14D;
  color: #FFFFFF;
  border: 1px solid #00C14D;
}
.order__card-2-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}