.swiper-container {
  max-width: 1450px;
}
.swiper-wrapper {
  padding-inline-start: 0;
}
.coment-block {
  padding: 0 0 250px;
}
.coment {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coment__card {
  max-width: 650px;
  padding: 20px 50px;
  border-radius: 30px;
}
.coment__card-text {
  padding: 0 50px;
  font-size: 18px;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__info {
  display: flex;
  justify-content: space-around;
}
.user__title {
  margin-left: -30px;
  padding: 20px 0;
}
.user__name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: -20px;
}
.user__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.73);
}
@media (max-width:1482px) {
  .coment__card-2 {
    display: none;
  }
}