.footer {
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.88);
  padding: 50px 0;
}
.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.footer__name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer__logo {
  margin: 0 auto;
}
.footer__text {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text-1 {
  padding: 0 0 0 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}